body
{
    color:blue;


}
div
{
    color:black;
    text-decoration-color: black;
}
a
{
    color:darkred;
    font-size:x-large;
}
textarea{

    color:gray;
}

.btn-xlbtn-xl {
    color: red;
    background-color: burlywood;
    border-style: none;
}

input[type="text"]{
    color:black;

}

.lb-lg{
    font-size: 20px;
}

