<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: headpart">

</head>

<body>
<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
    <i class="fa fa-bars"></i>
</a>
<nav th:replace="base :: navpart">
</nav>

<!-- Header -->
<header class="header" id="top">
    <div class="text-vertical-center">
        <section class="section-form">
            <h3>Please start from your Recent Education</h3>

            <form action="#" th:action="@{/addeducation}" th:object="${roboeducation}" method="post">
                <div class="form-group">
                    <label class="form-label form-label--required">
                        Field of Study:
                    </label>

                    <div class="form-addon" data-states-for="name">
                        <div class="form-addon__addon">
                            <span class="icon-name"></span>
                        </div>

                        <input type="text"
                               th:field="*{fieldofstudy}"
                        />

                        <span class="form-addon__icon icon-valid"></span>
                        <span class="form-addon__icon icon-invalid"></span>
                    </div>

                    <div th:if="${#fields.hasErrors('fieldofstudy')}"
                         th:errors="*{fieldofstudy}"><small class="form-error"
                                                            data-errors-when="valueMissing" >Error
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label form-label--required">
                        Intstitute:
                    </label>

                    <div class="form-addon" data-states-for="name">
                        <div class="form-addon__addon">
                            <span class="icon-name"></span>
                        </div>

                        <input type="text"
                               th:field="*{institute}"
                        />
                        <span class="form-addon__icon icon-valid"></span>
                        <span class="form-addon__icon icon-invalid"></span>
                    </div>

                    <div th:if="${#fields.hasErrors('institute')}"
                         th:errors="*{institute}"><small >Error
                    </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label form-label--required">
                        Year of Graduation<small>(yyyy)</small>:
                    </label>

                    <div class="form-addon" data-states-for="email">
                        <div class="form-addon__addon">
                            <span class="icon-email"></span>
                        </div>

                        <input type="text"
                               th:field="*{year}"
                        />

                        <span class="form-addon__icon icon-valid"></span>
                        <span class="form-addon__icon icon-invalid"></span>
                    </div>

                    <div th:if="${#fields.hasErrors('year')}"
                         th:errors="*{year}"><small class="form-error"
                                                    data-errors-when="valueMissing">Error.
                    </small>

                    </div>
                </div>


                <div class="form-footer">
                    <button type="submit"  th:if="${numberOfEdu<10}" class="active" class="btn btn-dark btn-lg js-scroll-trigger">ENTER</button>
                </div>
            </form>
        </section>
    </div>
</header>


<!-- Footer -->
<footer th:replace="base :: footpart">
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/stylish-portfolio.js"></script>

</body>

</html>



