<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: headpart">

</head>

<body id="page-top">

<!-- Navigation -->
<nav th:replace="base :: navpart">
</nav>

<header class="masthead">
    <div class="header-content">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form action="#" th:action="@{/addworkexperience}" th:object="${newwork}" method="post">
                        <input type="hidden" th:field="*{personexperience.id}">
                        <input type="hidden" th:field="*{id}">
                        <h2>Enter Work Experience<small> Starting from the Recent Experience.</small></h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                            <input type="text" th:field="*{organization}" name="organization" id="organization" class="form-control input-lg" placeholder="Organization" tabindex="3">
                        </div>
                        <div th:if="${#fields.hasErrors('organization')}"  th:errors="*{organization}"
                             class="well alert alert-warning" role="alert"></div>
                        <div class="form-group">
                            <input type="text" th:field="*{position}" name="position" id="position" class="form-control input-lg" placeholder="Position" tabindex="4">
                        </div>
                        <div th:if="${#fields.hasErrors('position')}"  th:errors="*{position}"
                             class="well alert alert-warning" role="alert"></div>
                        <div class="form-group">
                        <input type="text" th:field="*{startdate}"name="startdate" id="startdate" class="form-control input-lg" placeholder="Start Date (MMM,yyyy)" tabindex="5">
                    </div>
                        <div th:if="${#fields.hasErrors('startdate')}"  th:errors="*{startdate}"
                             class="well alert alert-warning" role="alert"></div>
                        <div class="form-group">
                            <input type="text" th:field="*{enddate}"name="startdate" id="enddate" class="form-control input-lg" placeholder="End Date (MMM,yyyy)" tabindex="6">
                        </div>
                        <div th:if="${#fields.hasErrors('enddate')}"  th:errors="*{enddate}"
                             class="well alert alert-warning" role="alert"></div>
                        <div class="form-group">
                            <input type="text" th:field="*{duty}"name="duty" id="duty" class="form-control input-lg" placeholder="Duties (write as many duties separated by comma)" tabindex="6">
                        </div>
                        <div th:if="${#fields.hasErrors('duty')}"  th:errors="*{duty}"
                             class="well alert alert-warning" role="alert"></div>

                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-md-6"><input type="submit" value="Enter" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                            <!--<div class="col-xs-6 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Bootstrap core JavaScript -->
<div th:replace="base :: footer">

</div>

</body>

</html>
