<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="headpart">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini LinkedIn</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/creative.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/formcss.css">
    <link rel="stylesheet" href="../css/tablecss.css">
    <script src="../js/navjs.js"></script>
    <link rel="stylesheet" href="../css/menudropdown.css">
    <link rel="stylesheet" href="../css/newfile.css">

</head>

<body id="page-top">

<!-- Navigation -->
<nav nav th:fragment="navpart">
    <ul class="navbar cf">
        <li><a href="/welcome">Home</a></li>
        <li><a href="/listjobs">Jobs</a></li>
        <li>
            <div sec:authorize="hasAuthority('RECRUITER')">
                <a href="/addjob">Add JOb</a>
            </div></li>
        <li><a href="#">Search</a>
            <ul>
                <li><a href="/searchpeople">Search People</a></li>
                <li><a href="/searchschool">Search School</a></li>
                <li><a href="/searchjobs">Search Jobs</a>
                <li><a href="/searchemployer">Search Employer</a>
                </li>
            </ul>
        </li>
        <div sec:authorize="hasAuthority('JOBSEEKER')">
            <li><a href="#">Add Info</a>
                <ul>
                    <li><a href="/addeducation">Add Education</a></li>
                    <li><a href="/addworkexperience">Add experience</a></li>
                    <li><a href="/addskills">Add Skills</a>
                    <li><a href="/viewresume">Resume</a>
                    <li><a href="/editinfo">Edit</a>
                    </li>
                    <!--<li><a href="#">item a little longer</a></li>-->
                </ul>
            </li>
        </div>
        <li>
            <div sec:authorize="isAuthenticated()">
                <a href="/logout">Logout</a>
            </div>
        </li>
        <!--<li><a href="#">item 5</a></li>-->
    </ul>

</nav>

<!-- Header -->
<header class="masthead">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">
                    <div class="container">
                        <div sec:authorize="hasAuthority('RECRUITER')">
                        <div class="starter-template">
                                <h3 class="well">Welcome to <h1 class="well">Mini LinkedIn </h1>
                                    <br/> Where you can Post Jobs and meet qualifyng Applicants</h3>
                        </div>
                        </div>
                        <div sec:authorize="hasAuthority('JOBSEEKER')">
                        <div class="starter-template">
                            <h3 class="well">Welcome to <h1 class="well">Mini LinkedIn </h1>
                                <br/> Where you can build your Resume and Search for Jobs</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Bootstrap core JavaScript -->
<div th:fragment="footer">
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/popper/popper.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/creative.min.js"></script>
</div>
</body>

</html>