<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="headpart">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini LinkedIn</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/creative.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/formcss.css">
    <link rel="stylesheet" href="../css/tablecss.css">
    <script src="../js/navjs.js"></script>
    <link rel="stylesheet" href="../css/menudropdown.css">

</head>

<body id="page-top">

<!-- Navigation -->
<nav>
    <ul class="navbar cf">
        <li><a href="/welcome">Home</a></li>
        <li><a href="/listjobs">Jobs</a></li>
        <li>
            <div sec:authorize="hasAuthority('RECRUITER')">
                <a href="/addjob">Add JOb</a>
            </div></li>
        <li><a href="#">Search</a>
            <ul>
                <li><a href="/searchpeople">Search People</a></li>
                <li><a href="/searchschool">Search School</a></li>
                <li><a href="/searchjobs">Search Jobs</a>
                <li><a href="/searchemployer">Search Employer</a>
                </li>
            </ul>
        </li>
        <div sec:authorize="hasAuthority('JOBSEEKER')">
            <li><a href="#">Add Info</a>
                <ul>
                    <li><a href="/addeducation">Add Education</a></li>
                    <li><a href="/addworkexperience">Add experience</a></li>
                    <li><a href="/addskills">Add Skills</a>
                    <li><a href="/viewresume">Resume</a>
                    <li><a href="/editinfo">Edit</a>
                    </li>
                    <!--<li><a href="#">item a little longer</a></li>-->
                </ul>
            </li>
        </div>
        <li>
            <div sec:authorize="isAuthenticated()">
                <a href="/logout">Logout</a>\
            </div>
        </li>
        <!--<li><a href="#">item 5</a></li>-->
    </ul>

</nav>
<header class="masthead">
    <div class="text-vertical-center">
            <div class="row">

                <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">
                    <section class="section-table">
            <h3>Information Entered</h3>
                        <hr class="colorgraph">
            <div class="panel panel-default">
                <div>
                    <table>
                        <athead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </athead>
                        <tbody>
                        <th:block th:each="item:${person}">
                            <tr>
                                <td><p th:text="${item.firstName} +' '+${item.lastName}" /></td>
                                <td><p th:text="${item.email}" /></td>
                                <td>
                                    <a th:href="@{/updateperson/{id}(id=${item.id})}">Edit</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                </div>
                <div>
                    <table>
                        <athead>
                            <tr>
                                <th>Field of Institute</th>
                                <th>Institute Year</th>
                                <th>Graduating Year</th>
                                <th>Actions</th>
                            </tr>
                        </athead>
                        <tbody>
                        <th:block th:each="item:${person}">
                        <th:block th:each="p:${item.educations}">
                            <tr>
                                <td><p th:text="${p.fieldofstudy}" /></td>
                                <td><p th:text="${p.institute}" /></td>
                                <td><p th:text="${{p.year}}" /></td>
                                <td>
                                    <a th:href="@{/updateeducation/{id}(id=${p.id})}">Edit</a>
                                    <!--<a th:href="@{/deleteeducation/{id}(id=${p.id})}" th:if="${numberOfEdu>1}"-->
                                       <!--class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Delete</a>-->
                                </td>
                            </tr>
                        </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table>
                        <athead>
                            <tr>
                                <th>Position</th>
                                <th>Organization</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Duty</th>
                                <th>Actions</th>
                            </tr>
                        </athead>
                        <tbody>
                        <th:block th:each="item:${person}">
                        <th:block th:each="p:${item.experiences}">
                            <tr>
                                <td><p th:text="${p.position}" /></td>
                                <td><p th:text="${p.organization}" /></td>
                                <td><p th:text="${{p.startdate}}" /></td>
                                <td><p th:text="${{p.enddate}}" /></td>
                                <td><p th:text="${p.duty}" /></td>
                                <td>
                                    <a th:href="@{/updateexperience/{id}(id=${p.id})}">Edit</a>
                                    <!--<a th:href="@{/deletework/{id}(id=${p.id})}" th:if="${numberOfExpr>1}"-->
                                       <!--class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Delete</a>-->
                                </td>
                            </tr>
                        </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </div>

                <div>
                    <table>
                        <athead>
                            <tr>
                                <th>Skill</th>
                                <th>Rating</th>
                                <th>Actions</th>

                            </tr>
                        </athead>
                        <tbody>
                        <th:block th:each="item:${person}">
                        <th:block th:each="p:${item.skills}">
                            <tr>
                                <td><p th:text="${p.skillname}" /></td>
                                <td><p th:text="${p.rating}" /></td>
                                <td>
                                    <a th:href="@{/updateskill/{id}(id=${p.id})}">Edit</a>
                                    <!--<a th:href="@{/deleteskill/{id}(id=${p.id})}" th:if="${numberOfSkill>1}"-->
                                       <!--class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Delete</a>-->
                                </td>
                            </tr>
                        </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
                        <hr class="colorgraph">
        </section>
    </div>
    </div>
    </div>
    </div>

</header>
<!-- Bootstrap core JavaScript -->
<div th:replace="base :: footer">

</div>

</body>

</html>

