<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: headpart">

</head>

<body id="page-top">

<!-- Navigation -->
<nav th:replace="base :: navpart">
</nav>

<header class="masthead">
    <div class="header-content">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">

                    <main class="wrapper">
                        <section class="section-form">
                            <h1>Job Posting</h1>

                            <div class="container">
                                <hr />
                                <div>
                                    <div class="panel panel-default">
                                        <!--<input type="hidden" th:field="*{id}">-->
                                        <div class="panel-body">
                                            <div th:each="item:${joblist}">
                                                <p th:text="${item.title}" />
                                                <p th:text="${item.employer}" />
                                                <p th:text="${item.salary}" />
                                                <h4 class="panel-title">
                                                    <i class="fa fa-caret-right"></i> Discription
                                                    </a>
                                                </h4>
                                                <p th:text="${item.description}" />
                                            </div>
                                        </div>
                                    </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                        <i class="fa fa-caret-right"></i> Skills
                                                    </a>
                                                </h4>
                                            </div>
                                                <div class="panel-body">
                                                    <div th:each="p:${joblist}">
                                                        <div th:each="item:${p.jobskills}">
                                                            <p  th:text=" ${item.skillname} +', '+ ${item.rating}" />
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Bootstrap core JavaScript -->
<div th:replace="base :: footer">

</div>

</body>

</html>

