<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: headpart">

</head>

<body>
<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
    <i class="fa fa-bars"></i>
</a>
<nav th:replace="base :: navpart">
</nav>

<!-- Header -->
<header class="header" id="top">
    <div class="text-vertical-center">
        <main class="wrapper">
            <section class="section-form">
                <h2>Information Entered</h2>
                <h3><p  align="center" th:text="'First Name: '+ ${robopersonal.firstname}" /></h3>
                <h3> <p  align="center" th:text="'Last Name: '+ ${robopersonal.lastname}" /></h3>
                <h3><p  align="center" th:text="'Email Address: '+ ${robopersonal.email}" /></h3>



                <div class="form-footer">
                    <a   th:href="@{addeducation/{id}(id=${robopersonal.id})}" class="btn btn-dark btn-lg js-scroll-trigger" >Next</a>
                </div><br/>
                <div class="form-footer">
                    <a th:href="@{/updateperson/{id}(id=${robopersonal.id})}"
                       th:if="${numberOfPerson=1}" class="active" class="btn btn-dark btn-lg js-scroll-trigger">Edit</a>
                </div>
            </section>


        </main>
    </div>
</header>



<!-- Footer -->
<footer th:replace="base :: footpart">
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/stylish-portfolio.js"></script>

</body>

</html>

