<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="headpart">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini LinkedIn</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/creative.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/formcss.css">
    <link rel="stylesheet" href="../css/tablecss.css">
    <script src="../js/navjs.js"></script>
    <link rel="stylesheet" href="../css/menudropdown.css">

</head>

<body>
<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
    <i class="fa fa-bars"></i>
</a>
<nav th:replace="base :: navpart">
</nav>

<!-- Header -->
<header class="header" id="top">
    <div class="text-vertical-center">
        <section class="section-table">
            <h1>Resume</h1>

            <div class="panel panel-default">

                <div>

                    <table>
                        <athead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </athead>
                        <tbody>
                        <th:block th:each="item:${robo}">
                            <tr>
                                <td><p th:text="${item.firstname} +' '+${item.lastname}" /></td>
                                <td><p th:text="${item.email}" /></td>
                                <td>
                                    <a th:href="@{/updateperson/{id}(id=${item.id})}" th:if="${numberOfPerson=1}"
                                       class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Edit</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                </div>
                <div>
                    <table>
                        <athead>
                            <tr>
                                <th>Field of Institute</th>
                                <th>Institute Year</th>
                                <th>Graduating Year</th>
                                <th>Actions</th>
                            </tr>
                        </athead>
                        <tbody>
                        <th:block th:each="p:${robo.educations}">
                            <tr>
                                <td><p th:text="${p.fieldofstudy}" /></td>
                                <td><p th:text="${p.institute}" /></td>
                                <td><p th:text="${{p.year}}" /></td>
                                <td>
                                    <a th:href="@{/updateeducation/{id}(id=${p.id})}" th:if="${numberOfEdu>0}"
                                       class="active" class="btn btn-dark btn-lg js-scroll-trigger"  >Edit</a>-
                                    <a th:href="@{/deleteeducation/{id}(id=${p.id})}" th:if="${numberOfEdu>1}"
                                       class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Delete</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table>
                        <athead>
                            <tr>
                                <th>Position</th>
                                <th>Organization</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Duty</th>
                                <th>Actions</th>
                            </tr>
                        </athead>
                        <tbody>
                        <th:block th:each="p:${robo.experiences}">
                            <tr>
                                <td><p th:text="${p.position}" /></td>
                                <td><p th:text="${p.organization}" /></td>
                                <td><p th:text="${{p.startdate}}" /></td>
                                <td><p th:text="${{p.enddate}}" /></td>
                                <td><p th:text="${p.duty}" /></td>
                                <td>
                                    <a th:href="@{/updateexperience/{id}(id=${p.id})}" th:if="${numberOfExpr>0}"
                                       class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Edit</a>-
                                    <a th:href="@{/deletework/{id}(id=${p.id})}" th:if="${numberOfExpr>1}"
                                       class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Delete</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>

                <div>
                    <table>
                        <athead>
                            <tr>
                                <th>Skill</th>
                                <th>Rating</th>
                                <th>Actions</th>

                            </tr>
                        </athead>
                        <tbody>
                        <th:block th:each="p:${robo.newskills}">
                            <tr>
                                <td><p th:text="${p.skillname}" /></td>
                                <td><p th:text="${p.rating}" /></td>
                                <td>
                                    <a th:href="@{/updateskill/{id}(id=${p.id})}"th:if="${numberOfSkill>0}"
                                       class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Edit</a> -
                                    <a th:href="@{/deleteskill/{id}(id=${p.id})}" th:if="${numberOfSkill>1}"
                                       class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Delete</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</header>



<!-- Footer -->
<footer th:replace="base :: footpart">
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/stylish-portfolio.js"></script>

</body>

</html>