<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: headpart">

</head>

<body id="page-top">

<!-- Navigation -->
<nav th:replace="base :: navpart">
</nav>
<header class="masthead">
    <div class="header-content">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">

                    <main class="wrapper">
                        <section class="section-form">
                            <h1>Resume</h1>

                            <div class="container">
                                <hr />
                                <div>
                                    <div class="panel panel-default">

                                        <div class="panel-body">
                                            <div th:each="item:${person}">
                                                <p th:text="${item.firstName} +' '+${item.lastName}" />
                                                <p th:text="${item.email}" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default active">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        <i class="fa fa-caret-right"></i> Education
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div th:each="p:${person}">
                                                        <div th:each="item:${p.educations}">
                                                            <p th:text="${item.fieldofstudy}" />
                                                            <p th:text=" ${item.institute} +', '+ ${{item.year}}"/>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                        <i class="fa fa-caret-right"></i> Experience
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                    <div th:each="p:${person}">
                                                        <div th:each="item:${p.experiences}">
                                                            <p  th:text="${item.position}" />
                                                            <p  th:text=" ${item.organization} +', '+ ${{item.startdate}}+'-'+ ${{item.enddate}}"/>
                                                            <p  th:text="'-'+ ${item.duty}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                        <i class="fa fa-caret-right"></i> Skills
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div th:each="p:${person}">
                                                        <div th:each="item:${p.skills}">
                                                            <p  th:text=" ${item.skillname} +', '+ ${item.rating}" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Bootstrap core JavaScript -->
<div th:replace="base :: footer">

</div>

</body>

</html>

