<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: headpart">

</head>
<body id="page-top">

<!-- Navigation -->
<nav th:replace="base :: navpart">
</nav>


<header class="masthead">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-6">
                    <form autocomplete="off" action="#" th:action="@{/searchpeople}" th:object="${user}" method="post">
                        <!--<input type="hidden" th:field="*{id}">-->
                        <h2>Sign up<small>Here.</small></h2>
                        <hr class="colorgraph">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" th:field="*{firstName}" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                                </div>
                                <div th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"
                                     class="well alert alert-warning" role="alert"></div>
                            </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6"><input type="submit" value="Enter" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Bootstrap core JavaScript -->
<div th:replace="base :: footer">

</div>

</body>

</html>