<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: headpart">

</head>

<body>
<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
    <i class="fa fa-bars"></i>
</a>
<nav th:replace="base :: navpart">
</nav>

<!-- Header -->
<header class="header" id="top">
    <div class="text-vertical-center">
        <section class="section-form">
            <h1>Information Entered</h1>
           <h3> <p  align="center" th:text="'Skill: '+ ${roboskills.skillname}" /></h3>
            <h3><p  align="center" th:text="'Rating: '+ ${roboskills.rating}" /></h3>

            <div class="form-footer">
                <a th:href="@{addskills/{id}(id=${roboskills.roboResumeSkill.id})}" class="btn btn-dark btn-lg js-scroll-trigger">Add Another Skill</a>
            </div><br/>
            <div class="form-footer">
                <a href="/viewresume" class="btn btn-dark btn-lg js-scroll-trigger" >View Resume</a>
            </div><br/>
            <div class="form-footer">
            <a th:href="@{/updateskill/{id}(id=${roboskills.id})}"th:if="${numberOfSkill>0}" class="active" class="btn btn-dark btn-lg js-scroll-trigger" >Edit</a> -
            <a th:href="@{/deleteskill/{id}(id=${roboskills.id})}" th:if="${numberOfSkill>1}"  class="active" class="btn btn-dark btn-lg js-scroll-trigger">Delete</a>
            </div>
        </section>
    </div>
    </div>
</header>



<!-- Footer -->
<footer th:replace="base :: footpart">
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/stylish-portfolio.js"></script>

</body>

</html>