<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Resume</title>

</head>

<body>
<p  th:text="'First Name: '+ ${robo.firstname}" />
<p  th:text="'First Name: '+ ${robo.lastname}" />
<p  th:text="'First Name: '+ ${robo.email}" />



<div th:each="p:${robo.experiences}">

    <p  th:text="'Field: '+ ${p.organization}" />
    <p  th:text="'Field: '+ ${p.position}" />
    <p  th:text="'Field: '+ ${p.startdate}" />
    <p  th:text="'Field: '+ ${p.enddate}" />
    <p  th:text="'Field: '+ ${p.position}" />
    <p  th:text="'Field: '+ ${p.duty}" />

</div>


<div th:each="p:${robo.newskills}">

    <p  th:text="'Field: '+ ${p.skillname}" />
    <p  th:text="'Field: '+ ${p.rating}" />

</div>

</body>

</html>